<strong>Olá {{provider}}</strong>
<p>Houve um cancelamenot de horário, confira os detalhes:</p>
<p>
  <strong>Cliente: {{user}}</strong>
  <br>
  <strong>Data/Hora: {{ date }}</strong>
  <br>
  <small>
    O horário está disponível para novos agendamentos.
  </small>
</p>
